.signup-form {
  width: 20%;
  background-color: #fff;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
h3 {
  font-size: 3rem;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
